.static {
  position: static;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0px;
}

.left-0 {
  left: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.right-0 {
  right: 0px;
}

.flex {
  display: flex;
}

.h-10 {
  height: 2.5rem;
}

.h-full {
  height: 100%;
}

.h-1\/2 {
  height: 50%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-1\/2 {
  width: 50%;
}

.w-full {
  width: 100%;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.self-center {
  align-self: center;
}

.rounded {
  border-radius: 0.25rem;
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-sky-500 {
  --tw-border-opacity: 1;
  border-color: rgb(14 165 233 / var(--tw-border-opacity));
}

.bg-sky-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(186 230 253 / var(--tw-bg-opacity));
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pt-12 {
  padding-top: 3rem;
}

.text-center {
  text-align: center;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.opacity-50 {
  opacity: 0.5;
}

.main-bg {
  background-color: #f1f1f1;
}
